name: CI backend

on:
  pull_request:
    branches:
      - backend/develop
      - develop
      - main

jobs:
  backend-build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: testdb

        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U test"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
      redis:
        image: redis:latest
        ports:
          - 6379:6379
        options: >-
          --health-cmd="redis-cli ping"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Cache Gradle
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Make Gradlew Executable
        run: cd back && chmod +x ./gradlew

      - name: Build and Test
        env:
          INSTANCE_CONNECTION_NAME: "dummy-instance"
          GCS_BUCKET: "dummy-bucket"
          GCS_DOMAIN: "dummy-domain"
          CLOUD_SQL: "dummy-sql"
          GCP_PROJECT_ID: "dummy-project"
          JWT_SECRET: "dummy-jwt-secret"
          GOOGLE_CLIENT_ID: "dummy-id"
          GOOGLE_CLIENT_SECRET: "dummy-secret"
          NAVER_CLIENT_ID: "dummy-id"
          NAVER_CLIENT_SECRET: "dummy-secret"
          KAKAO_CLIENT_ID: "dummy-id"
          KAKAO_CLIENT_SECRET: "dummy-secret"
          GOOGLE_API_KEY: "dummy-key"
          APP_S3_REGION: "dummy-region"
          APP_S3_BUCKET: "dummy-bucket"
          APP_CDN_DOMAIN: "dummy-cdn"
          OPENAI_API_KEY: "dummy-key"

        run: cd back && ./gradlew clean build --no-daemon -Dspring.profiles.active=test
